<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DocMapper">
    
    <resultMap type="Doc" id="DocResult">
        <result property="id"    column="id"    />
        <result property="docName"    column="DOC_NAME"    />
        <result property="putWayFlag"    column="put_way_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectDocVo">
        select id, DOC_NAME, put_way_flag, create_time, create_by, update_time, update_by from doc
    </sql>

    <select id="selectDocList" parameterType="Doc" resultMap="DocResult">
        <include refid="selectDocVo"/>
        <where>  
            <if test="docName != null  and docName != ''"> and DOC_NAME like concat('%', #{docName}, '%')</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
        </where>
    </select>
    
    <select id="selectDocById" parameterType="Long" resultMap="DocResult">
        <include refid="selectDocVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDoc" parameterType="Doc" useGeneratedKeys="true" keyProperty="id">
        insert into doc
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="docName != null and docName != ''">DOC_NAME,</if>
            <if test="putWayFlag != null">put_way_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="docName != null and docName != ''">#{docName},</if>
            <if test="putWayFlag != null">#{putWayFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateDoc" parameterType="Doc">
        update doc
        <trim prefix="SET" suffixOverrides=",">
            <if test="docName != null and docName != ''">DOC_NAME = #{docName},</if>
            <if test="putWayFlag != null">put_way_flag = #{putWayFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDocById" parameterType="Long">
        delete from doc where id = #{id}
    </delete>

    <delete id="deleteDocByIds" parameterType="String">
        delete from doc where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>