<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysMsdsMapper">
    
    <resultMap type="SysMsds" id="SysMsdsResult">
        <result property="msdsId"    column="msds_id"    />
        <result property="msdsName"    column="msds_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="msdsStatus"    column="msds_status"    />
        <result property="msdsPath"    column="msds_path"    />
    </resultMap>

    <sql id="selectSysMsdsVo">
        select msds_id, msds_name, create_by, msds_status, msds_path from sys_msds
    </sql>

    <select id="selectSysMsdsList" parameterType="SysMsds" resultMap="SysMsdsResult">
        <include refid="selectSysMsdsVo"/>
        <where>  
            <if test="msdsName != null  and msdsName != ''"> and msds_name like concat('%', #{msdsName}, '%')</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="msdsStatus != null  and msdsStatus != ''"> and msds_status = #{msdsStatus}</if>
            <if test="msdsPath != null  and msdsPath != ''"> and msds_path = #{msdsPath}</if>
        </where>
    </select>
    
    <select id="selectSysMsdsByMsdsId" parameterType="Long" resultMap="SysMsdsResult">
        <include refid="selectSysMsdsVo"/>
        where msds_id = #{msdsId}
    </select>
        
    <insert id="insertSysMsds" parameterType="SysMsds" useGeneratedKeys="true" keyProperty="msdsId">
        insert into sys_msds
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="msdsName != null">msds_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="msdsStatus != null">msds_status,</if>
            <if test="msdsPath != null">msds_path,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="msdsName != null">#{msdsName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="msdsStatus != null">#{msdsStatus},</if>
            <if test="msdsPath != null">#{msdsPath},</if>
         </trim>
    </insert>

    <update id="updateSysMsds" parameterType="SysMsds">
        update sys_msds
        <trim prefix="SET" suffixOverrides=",">
            <if test="msdsName != null">msds_name = #{msdsName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="msdsStatus != null">msds_status = #{msdsStatus},</if>
            <if test="msdsPath != null">msds_path = #{msdsPath},</if>
        </trim>
        where msds_id = #{msdsId}
    </update>

    <delete id="deleteSysMsdsByMsdsId" parameterType="Long">
        delete from sys_msds where msds_id = #{msdsId}
    </delete>

    <delete id="deleteSysMsdsByMsdsIds" parameterType="String">
        delete from sys_msds where msds_id in 
        <foreach item="msdsId" collection="array" open="(" separator="," close=")">
            #{msdsId}
        </foreach>
    </delete>
</mapper>